body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#backw {
  position: relative;
  float: left;
}

#forw {
  position: relative;
  float: right;
}

#navgbar{
	position: relative;
	float: right;
}
